{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "/styles/mainformap.css" %}">
    <div class="container">
        <div class="header">
            Последнее местоположение пропавшего человека
        </div>

        <h2>{{ missing_person_name }}</h2>
        <p>{{ missing_person_description }}</p>

        <div id="map"></div>

        <div class="footer">
            <p>Вы можете помочь! Для получения дополнительной информации обратитесь к органам правопорядка или через наши ресурсы.</p>
            <p><a href="mailto:support@example.com">Связаться с нами</a></p>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // Инициализация карты
        var map = L.map('map').setView([{{ missing_person_lat }}, {{ missing_person_lon }}], 13); // Устанавливаем начальную позицию карты

        // Добавление слоя карты
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Местоположение пропавшего человека
        var missingPersonLocation = [{{ missing_person_lat }}, {{ missing_person_lon }}]; 
        var missingPersonMarker = L.marker(missingPersonLocation).addTo(map);
        missingPersonMarker.bindPopup("<b>Пропавший человек</b><br>{{ missing_person_name }}");

        // Настроим отображение карты
        map.setView(missingPersonLocation, 13); // Центрируем карту на месте пропавшего человека
    </script>

{% endblock content %}
